@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: linear-gradient(15deg, #0bdb2d, #30aa38, rgba(81, 126, 80, 1));
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #00ff80;
  --sb-size: 6px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
